
CONFIG_CMD_DHCP=y
CONFIG_NET=y
CONFIG_CMD_PING=y
CONFIG_CMD_NET=y
CONFIG_BOOTP_SUBNETMASK=y
CONFIG_BOOTP_GATEWAY=y
CONFIG_BOOTP_DNS=y
CONFIG_ETHADDR="00:0a:35:00:1e:51"
CONFIG_IPADDR="192.168.1.100"
CONFIG_SERVERIP="192.168.1.1"
CONFIG_NETMASK="255.255.255.0"
